nav {
    display: block;
    width: 100%;
}

nav#masthead {

}

.navbar-default {
    background-color: white;
    border-color: #777777;
}

.navbar {
    top: 0;
    position: fixed;
    min-height: 70px;
    border: 1px solid transparent;
    border-radius: 0;
    margin-bottom: 20px;
    overflow: visible;
}

nav .container-fluid {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.container-fluid {
    padding-right: 20px;
    padding-left: 20px;
}

.container-fluid::after, .container-fluid::before {
    display: table;
    content: "";
    line-height: 0;
    clear: both;
}

.navbar-header {
    margin-right: 0;
    margin-left: 0;
    padding-left: 5px;
}

section.name {
    display: block;
    margin-top: 5px;
}

h1 {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-family: 'Georgia', Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    background-color: teal;
}

li {
    float: right;
}

section#nav::before, section#nav::after {
    content: "";
    clear: both;
    display: table;
}

ul {
    float: right;
    list-style-type: none;
}

li a {
    display: inline-block;
    color: #777777;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: teal;
    color: #ffffff;
}

li a.about, a.port {
    border-right: 1px solid lightgray;
}



.container {
    background-color: #ffffff;
    position: relative;
    max-width: 960px;
    padding: 15px 20px;
}

p::after {
    content: "";
    clear: both;
    display: table;
    word-wrap: normal;
    word-wrap: break-word;
}

#profile {
    width: 200px;
    height: 200px;
    margin-right: 20px;
    float: left;
}

footer {
    padding: 14px 16px;
    font-weight: bold;
    color: #777777;
    background-color: #666666;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    border-top: 5px solid teal;
}